/* 
    #5f5f5f text in navigation
    #212121 color for navigatioin
*/




body {
    background-color: #111111;
    padding: 0;
    margin: 0;
}


.container {
    background-color: #111111;
    height: 100%;
    margin-top: 0%;
}

nav {
    background-color: #212121;
    max-width: 70%;
    width: 100%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

nav .links {
    display: flex;
    justify-content: space-between;
}

nav .links a{
    font-size:medium;
    text-decoration: none;
    color: #5f5f5f;
    margin: 20px;
}

nav .icons {
    display: flex;

}

nav .icons a {
    margin: 15px;
}

nav .menu {
    display: none;
    margin-top: 5%;
    position: relative;
    margin-left: 5%;
}

nav .menu .items-menu {
    display: none;
    background-color: #ffffff;
    list-style-type: none;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

.user  {
    display: flex;
    max-width: 70%;
    margin-left: 15%;
    margin-top: 70px;
    justify-content: space-around;
}

.user .info{
    padding: 20px;
}

.user .info h1{
    color: #ffffff;
}

.user .info p{
    width: 400px;
    color: #5f5f5f;
    font-family:"Noto Sans", sans-serif;
}

.user .info button {
    margin-top: 10px;
    background-color: #418d00;
    border: none;
    padding:20px 55px 20px 55px;
    font-weight: bold;
    color: #ffffff;
}


.profile img {
    border-radius: 50%;
    object-fit: fill;
    margin-right: 40px;
}


.partners {
    max-width: 70%;
    margin-left: 20%;
    padding: 10px;
    margin-top: 70px;
}


.partners h5{
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

.partners a{
    margin-right: 20px;
    border: 1px solid #222222 ;
    padding: 10px 25px 10px 25px;
    border-radius: 8%;
    color: #5f5f5f;
    text-decoration: none;
    font-family:sans-serif;
    font-weight:600;
    font-size: small;
}

.partners a img{
    margin-right: 5px;
}

.testinomials {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin-left: 15%;
    padding: 10px;
    margin-top: 70px;
    padding: 10px;
}

.testinomials .testinomial {
    background-color: #ffffff;
    width: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

.testinomials .testinomial img {
    border-radius: 50%; 
}

.testinomials .testinomial h3 {
    font-weight: bold;
}

.testinomials .testinomial p {
    font-family: Arial, Helvetica, sans-serif;
    color:#5f5f5f
}

.contact-container {
    margin-left: 15%;
    max-width: 70%;

    justify-content: center;
    display: flex;
}

.contact-container form {
    background-color: #ffffff;
    margin-top: 80px;
    width:400px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.contact-container form h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #826980;
}

.contact-container form .form-group {
    margin: 20px;
}

.contact-container form .form-group span{
    display: block;
    text-align: start;
    margin-left: 35px;
    color: #a588a2;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

.contact-container form .form-group input{
    width: 80%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-style: italic;
    font-weight: bolder;
}

.contact-container form button{
    width: 50%;
    padding: 20px 50px 20px 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: rgb(60, 70, 222);
    border-radius: 15px;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 400px){
    nav .links, nav .icons
    {
        display: none;
    }
    
    nav {
        justify-content: end;
    }

    nav .menu {
        display: block;
        position: relative;
        right: 0;
    }
}